// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

$sans: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', sans-serif;
//$serif: "Baskerville", serif;
//$mono: "Courier", monospace;
$heading-font-family: 'Tungsten A', 'Tungsten B';
$heading-font-weight: 400;
$heading-font-style: normal;
$header-title-font-family: 'Tungsten A', 'Tungsten B';
$header-subtitle-font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B';
